@model PermissionAddModel

<h3 class="text-center">İzin Kullandır</h3>

<div asp-validation-summary="All" class="text-danger">

</div>

<form asp-controller="Permission" asp-action="AddPermission" method="post" enctype="multipart/form-data" class="w-50 shadow mx-auto p-3">
    <div class="form-group">
        <label>İzin Başlangıç Tarihi</label>
        <input type="date" asp-for="@Model.StartDate" class="form-control">
        <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label>İzin Bitiş Tarihi :</label>
        <input type="date" asp-for="@Model.EndDate" class="form-control">
        <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label >Gün Sayısı:</label>
        <input type="text" asp-for="@Model.DaysCount" class="form-control">
        <span asp-validation-for="@Model.DaysCount" class="text-danger"></span>
    </div>
    <br>
        <div class="form-group">
        <label >Dilekçe Resmi Seç :</label>
        <input type="file" asp-for="@Model.Image" class="form-control">
        <span asp-validation-for="@Model.Image" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label>Açıklama :</label>
        <textarea type="text" asp-for="@Model.Description" class="form-control"></textarea>
        
    </div>
    <br>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Employee"><i class="fas fa-undo p-1"></i>Vazgeç</a>
    <button class="btn btn-success" type="submit"><i class="fas fa-save p-1"></i>Kaydet</button>
</form>

@section jquery{
    <script src="~/jquery/jquery.validate.min.js"></script>
    <script src="~/jquery/jquery.unobtrusive-ajax.min.js"></script>

}
